._menue{
  background-color: #373a47 !important;
}
._navBar{
  display: flex;
  flex: 2;
  justify-content: space-between;
  background-color: #c94e50;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
._logout{
  color: white;
  /* cursor: pointer; */
  font-weight: bold;
}
._closeIcon{
  margin-left: 85%;
  cursor: pointer;
  outline: none !important;
}
._page{
  margin-left: 30%;
  font-size: 24px;
  color: #b8b7ad;
  /* border: 1px solid black; */
  cursor: pointer;
  outline: none !important;
}
._page:hover{
  color: #c94e50;
}